<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991486137413-25bknjr4h6aa8eri5099nbrbkga56ib8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991486137413-25bknjr4h6aa8eri5099nbrbkga56ib8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991486137413-ohg46a527vn30ht3drqtjudrd6m4g11v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF_qqmjr6q-7n-yJFYhF5MzpGXnDQBYGI</string>
	<key>GCM_SENDER_ID</key>
	<string>991486137413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vokaflow.vokaflow</string>
	<key>PROJECT_ID</key>
	<string>vokaflow-c1061</string>
	<key>STORAGE_BUCKET</key>
	<string>vokaflow-c1061.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991486137413:ios:343ed0bf7701b31abdbf2c</string>
</dict>
</plist>